<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> News </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                        <!-- dropdown menu -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          <!-- Find News Here -->
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
          
          {% for current_news in articles %}
                       <li   style="background-color:rgb(8, 94, 109);"><a class="dropdown-item active" style="color:DodgerBlue;font-size: large;" href="{{current_news.url }}">{{ current_news.url}}</a></li>
                    {% endfor %}
         
        </ul>
      </div>
                </ul>
            </div>
    
        </div>
    </div>


</body>
</html>